# Ignore downloaded source documents — large binaries, copyrighted third-party
# content, OneDrive already backs these up. Keep metadata.yaml and
# structured-financials.yaml tracked (small, valuable, text-based).
archive/**/*.pdf
